<!DOCTYPE html>
<html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>HW12</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
    </head>

    <body>

<!--https://github.com/papadiscobravo/web-scraping-challenge-->

<div class="container">

    <div class="row">
        <!-- whole screen width (12/12)
            column 1 of 1 -->
            <div class="col-md-12" align="center">
                <h2>Mars</h2>
            </div>
    </div>




    <div class="row">
        <!-- half of screen width (6/12)
            column 1 of 2 -->
        <div class="col-md-6">
            <p>
            <!--figure out how to insert NASA's latest Mars headline + graf1
                from the Python variables [news_title]--><b>{{ mars.news_title }}</b><br>
                <!--and [news_graf]-->{{ mars.news_graf }}<br>
                <i>from <a href="https://redplanetscience.com" target="_blank">NASA Mars News</a></i>         
            </p>
        </div>

        <!-- half of screen width (6/12)
            column 2 of 2 -->
        <div class="col-md-6">
            <p>
            <!--figure out how to insert latest image here
                from the Python variable [featured_image_url]-->
            <img src="{{ mars.featured_image }}" class="img-fluid" alt="latest image from spaceimages-mars.com"><br>
            <i>from the Jet Propulsion Laboratory's <a href="http://www.spaceimages-mars.com" target="_blank">Mars Space Images</a><br><br></i>
            </p>
        </div>
    </div>


    <div class="row">
        <!-- half of screen width (6/12)
            column 1 of 2 -->
        <div class="col-md-6">
            Mars-Earth comparison<br>
            {{ mars.data_table | safe }}
            <p>
            <!--    <a href="table.html" target="_blank">How does Mars compare with Earth?</a><br>-->
            <i>from <a href="https://galaxyfacts-mars.com">galaxyfacts-mars.com</i></a>
            <br><br>
            </p>
        </div>

        <!-- half of screen width (6/12)
            column 2 of 2 -->
        <div class="col-md-6">
            <p>
            </p>
        </div>
    </div>

{% for hemisphere in mars.hemisphere_images %}
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
            <img src="{{hemisphere.link | default('static/images/error.png', true)}}" alt="Mars hemisphere image">
                <div class="caption">
                    <h3>{{hemisphere.title}}</h3>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <!-- whole screen width (12/12)
            column 1 of 1 -->
            <div class="col-md-12">
                <p>
                <i>from <a href="https://marshemispheres.com">marshemispheres.com</a></i>
                </p>
            </div>
    </div>

</div>


<!--more things needed for the css and navbar to work correctly.-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>